
/API_CORE/Properties
/API_CORE/.config
/API_CORE/bin
/API_CORE/obj
/API_PUBLIC/obj
/DAL/bin
/API_LOGIN/obj
/DAL/obj
/ENTITIES/obj
/REDIS/bin
/REDIS/obj
/REPOSITORIES/bin
/REPOSITORIES/obj
/ServiceReceiverMedia/obj
/Utilities/obj
/ENTITIES/bin
/Utilities/bin
/.vs
/API_LOGIN/bin
/ServiceReceiverMedia/bin
/API_PUBLIC/bin
/ServiceReceiverMedia/Properties
API_CORE/API_CORE.csproj.user
/ServiceReceiverMedia/Properties
/ServiceReceiverMedia/uploads
API_LOGIN/Properties/PublishProfiles/FolderProfile.pubxml.user
API_LOGIN/API_LOGIN.csproj.user
API_CORE/API_CORE.csproj.user
API_LOGIN/API_LOGIN.csproj.user
API_LOGIN/Properties/PublishProfiles/FolderProfile.pubxml.user
ServiceReceiverMedia/Properties/PublishProfiles/FolderProfile.pubxml.user
